<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onChangePassword(changePassForm)" #changePassForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
          <input
          matInput
          ngModel
          name="oldPassword"
          type="password"
          placeholder="Old Password"
          required
          #oldPasswordInput="ngModel">
          <mat-error *ngIf="oldPasswordInput.invalid">This field is <strong>required</strong>.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          ngModel
          name="newPassword"
          type="password"
          placeholder="New Password"
          required
          #newPasswordInput="ngModel">
          <mat-error *ngIf="newPasswordInput.invalid">This field is <strong>required</strong>.</mat-error>
        </mat-form-field>
        <mat-error class="error-spacing" *ngIf="newPassword !== confirmPassword">The password does not match.</mat-error>
        <mat-form-field>
          <input
          matInput
          ngModel
          name="confirmPassword"
          type="password"
          placeholder="Confirm Password"
          required
          #confirmPasswordInput="ngModel">
          <mat-error *ngIf="confirmPasswordInput.invalid">This field is <strong>required</strong>.</mat-error>
        </mat-form-field>
        <mat-error class="error-spacing" *ngIf="newPassword !== confirmPassword">The password does not match.</mat-error>
        <button mat-raised-button
        color="accent"
        type="submit">Change Password</button>
  </form>
</mat-card>
